@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* *{
  outline: 2px solid green !important;  
} */

body {
margin: 0;
}

.general-grid {
  display: grid;
  
  grid-template-areas:
  "grid-header-left grid-header grid-header grid-header-right"
  "grid-main-left grid-main grid-main grid-main-right"
  "grid-sidebar-left grid-sidebar grid-content grid-content-right"
  "grid-footer grid-footer grid-footer grid-footer"
  ;
  grid-template-columns: 1fr 196px 924px 1fr;
  grid-template-rows: 116px 836px 1fr 33px;

}

.grid-header-left{
  position: sticky;
  top: 0;

  grid-area: grid-header-left;
  background-color: white;

  z-index: 9;
}

.grid-header {
  position: sticky;
  top: 0;

  grid-area: grid-header;
  background-color: white;

  z-index: 9;
}

.grid-header-right {
  position: sticky;
  top: 0;

  grid-area: grid-header-right;
  background-color: white;

  z-index: 9;
}

.grid-main-left {
  grid-area: grid-main-left;
}

.grid-main {
  grid-area: grid-main;

  position: relative;
}

.grid-main-right {
  grid-area: grid-main-right;
}

.grid-sidebar-left {
  grid-area: grid-sidebar-left;
}

.grid-sidebar {
  grid-area: grid-sidebar;

  position: relative;
}

.grid-content {
  grid-area: grid-content;
}

.grid-content-right {
  grid-area: grid-content-right;
}

.grid-footer {
  grid-area: grid-footer;
  overflow: auto;
}
